* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em georgia, serif, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    background-color: #000;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsla(0, 0%, 0%, 0.8);
    font-family: georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #00ff9e, #93ff00);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.register-btn {
    margin: auto;
    background-color: #fff;
    border-radius: 0.7vw;
    margin-top: 3%;
    padding: 1% 4%;
    font-size: 3vw;
    border: none;
}

.register-btn:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.grid {
    width: 60%;
    margin: 0 auto;
}

.grid_item {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .grid {
        width: 90%;
    }
}

.contents {
    padding: 1rem 0.5rem;
}

.content-section {
    flex-direction: column;
    padding: 2px 0;
}
.container-schedule {
    display: block;
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
}
.daily-schedule {
    margin-bottom: 1rem;
    margin: 1rem;

    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.single-event {
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem;
}
.date-time {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 5rem;
    text-align: right;
    white-space: nowrap;
    color: #fff;
}
.date {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
}

.time {
    font-size: 1.2rem;
    font-weight: 700;
}

.description {
    padding-left: 2rem;
    background-color: #333;
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* margin-left: 1rem; */
    text-align: left;
    overflow: hidden;
}

.title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: 699;
}

.name {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.speaker {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
}

@media (max-width: 767px) {
    #home {
        .register-btn {
            font-size: 5vw;
        }
    }

    .daily-schedule {
        padding: 0;
        margin: 0;
    }
    .content-section .contents .single-event .date-time {
        padding: 0.9rem;
    }

    .description {
        padding-left: 0.8rem;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 75%;

        #home {
            .register-btn {
                font-size: 6.5vw;
            }

            
        }
        main {
            .container-schedule {
                font-size: 120%;
                .title {
                    font-size: interit;
                }
            }

        }
    }
}
